<div class="row total-after-discount" *ngIf="discount > 0 && discount <= 100">
  <div class="col-md-9 title">Total After Discount ( {{ discount }} % )</div>
  <div class="col-md-3 title">
    {{ totalAfterDiscount }}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="onSubmit()" #cartForm="ngForm">
      <input
        type="text"
        name="name"
        class="form-control"
        placeholder="Client name"
        [(ngModel)]="currentName"
        list="details"
        required
        (change)="onNameChange()"
      />
      <datalist id="details">
        <option [value]="cl.name" *ngFor="let cl of allClients"></option>
      </datalist>

      <input
        type="number"
        name="phone"
        class="form-control"
        placeholder="Phone number"
        [(ngModel)]="currentClient.phone"
        required
      />
      <input
        type="text"
        name="address"
        class="form-control"
        placeholder="Address"
        [(ngModel)]="currentClient.address"
        required
      />
      <p>Discount:</p>
      <input
        type="number"
        name="discount"
        class="form-control"
        placeholder="Discount"
        [(ngModel)]="discount"
        (change)="onDiscountChange()"
        required
        [disabled]="discountNotAllowed"
      />
      <p class="error" *ngIf="discount < 0 || discount > 100">
        Discount should be a value between 0 % to 100 %
      </p>
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="
          cartForm.invalid ||
          discount < 0 ||
          discount > 100 ||
          cartItems.length === 0 ||
          confirmClicked
        "
      >
        {{ confirmClicked ? "Wait..." : "Confirm" }}
      </button>
      <p class="error" *ngIf="cartItems.length === 0">
        No items in the shopping cart!
      </p>
      <div *ngIf="addingStatus !== undefined">
        <h4 class="success" *ngIf="addingStatus">Bill Added Successfully!</h4>
        <h4 class="error" *ngIf="!addingStatus">
          Sorry error happened, try again!
        </h4>
      </div>
    </form>
  </div>
</div>
