table {
    margin-top: 40px;
}
tr, th, td {
    text-align: center;
    padding: 10px;
}
.add-border {
    border: 1px solid white;
}
.title {
    text-align: center;
    color: #fbff00;
    margin-top: 40px;
}
.final-price {
    background-color: green;
    color: white;
    font-weight: bold;
}