<div class="row bill-row">
  <div class="col-md-8 col-xs-4 column total">Total</div>
  <div class="col-md-1 col-xs-2 column final">{{ totals.totalFinal }}</div>
  <div
    class="col-md-1 col-xs-2 column cost"
    *ngIf="currentUserType === 'admin'"
  >
    {{ totals.totalCost }}
  </div>
  <div
    class="col-md-1 col-xs-2 column income"
    *ngIf="currentUserType === 'admin'"
  >
    {{ currentUserType === "admin" ? totals.totalIncome : "0" }}
  </div>
  <div class="col-md-1 col-xs-2 column"></div>
</div>
