<div class="row header">
  <div class="col-md-2 column">Category</div>
  <div class="col-md-2 column">Item Name</div>
  <div class="col-md-1 column">Cost</div>
  <div class="col-md-1 column">Price</div>
  <div class="col-md-1 column">Quantity</div>
  <div class="col-md-5 column">Action</div>
</div>
<div
  [ngClass]="i % 2 === 0 ? 'row item-row-dark' : 'row item-row-light'"
  *ngFor="let item of allItems; let i = index"
>
  <div class="col-md-12">
    <app-store-item [item]="item"></app-store-item>
  </div>
</div>
<h4 class="error" *ngIf="allItems.length === 0">
  No store items for this company!
</h4>
