<div class="row" *ngIf="cartItems.length === 0">
  <div class="col-md-12">
    <div class="alert alert-danger">
      <h4>No items in the Shopping Cart!!</h4>
    </div>
  </div>
</div>
<div class="row" *ngIf="cartItems.length > 0">
  <div class="col-md-12">
    <div class="row cart-header">
      <div class="col-md-2">Item Name</div>
      <div class="col-md-2">Quantity</div>
      <div class="col-md-2">Price</div>
      <div class="col-md-2">Discount %</div>
      <div class="col-md-2">Final Price</div>
      <div class="col-md-2">Action</div>
    </div>

    <app-cart-item
      *ngFor="let cartItem of cartItems; let i = index"
      [cartItem]="cartItem"
      [indexNumber]="i"
    ></app-cart-item>

    <div class="row total-style">
      <div class="col-md-8 total-title">Total Bill</div>
      <div class="col-md-2 total-value">{{ totalBill }}</div>
      <div class="col-md-2">
        <button class="btn btn-default btn-height" (click)="onDeleteAll()">
          Delete All
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="cartItems.length > 0">
  <div class="col-md-12">
    <app-cart-form
      [cartItems]="cartItems"
      [totalBill]="totalBill"
    ></app-cart-form>
  </div>
</div>
