.error {
  color: red;
  text-align: center;
  margin: 25px 0;
}
input {
  margin: 10px 0;
}
button {
  margin: 10px 0;
}
.form {
  background-color: #ccc;
  border-radius: 7px;
}
.form-row {
  padding: 20px 0;
}
.bills-result {
  padding: 50px 0;
}
