.item-row {
  background-color: #d6d6d6 !important;
  text-align: center;
}
.column {
  border: 1px solid #ccc !important;
  padding: 10px;
}
.arrow {
  cursor: pointer;
}
.quantity {
  font-weight: bold;
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 0 5px;
}
.error {
  color: red;
}
