<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="onSubmit()" #companyForm="ngForm">
      <div class="row">
        <div class="col-md-2">
          <h4>Company name:</h4>
        </div>
        <div class="col-md-10">
          <input
            type="text"
            name="name"
            class="form-control"
            ngModel
            required
          />
        </div>
      </div>
      <button class="btn btn-danger" type="submit">Save company</button>
    </form>
    <div
      class="alert alert-danger"
      *ngIf="addingStatus !== undefined && !addingStatus"
    >
      <h4>Error adding the company, try again!</h4>
    </div>
    <div
      class="alert alert-success"
      *ngIf="addingStatus !== undefined && addingStatus"
    >
      <h4>Adding success!</h4>
    </div>
  </div>
</div>
