<div class="row make-center" id="content">
  <div class="col-md-8 col-md-push-2 bill-style">
    <h3 style="text-align: center">
      Company: <span class="value">{{ company ? company.name : "" }}</span>
    </h3>
    <h3 style="text-align: center">
      S.N: <span class="value">{{ bill.serial }}</span>
    </h3>
    <h3 style="text-align: center">
      Date: <span class="value">{{ bill.date }}</span>
    </h3>
    <h3 style="text-align: center">
      Client name: <span class="value">{{ currentClient.name }}</span>
    </h3>
    <h3 style="text-align: center">
      Item name: <span class="value">{{ currentItem.name }}</span>
    </h3>
    <h3 style="text-align: center">
      Quantity: <span class="value">{{ bill.quantity }}</span> | Price:
      <span class="value">{{ currentItem.price }}</span> | Discount:
      <span class="value">{{ bill.discount }} %</span>
    </h3>
    <h3 style="text-align: center">
      Total: <span class="total">{{ bill.finalPrice }}</span>
    </h3>
    <!-- <div class="row">
      <div class="col-md-4">S.N:</div>
      <div class="col-md-8">{{ bill.serial }}</div>
    </div>
    <div class="row">
      <div class="col-md-4">Date:</div>
      <div class="col-md-8">{{ bill.date }}</div>
    </div>
    <div class="row">
      <div class="col-md-4">Client name:</div>
      <div class="col-md-8">{{ currentClient.name }}</div>
    </div>
    <div class="row">
      <div class="col-md-4">Item name:</div>
      <div class="col-md-8">{{ currentItem.name }}</div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-1">Q:</div>
          <div class="col-md-2">{{ bill.quantity }}</div>
          <div class="col-md-1">P:</div>
          <div class="col-md-2">{{ currentItem.price }}</div>
          <div class="col-md-1">D:</div>
          <div class="col-md-2">{{ bill.discount }}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">Total:</div>
      <div class="col-md-8">{{ bill.finalPrice }}</div>
    </div> -->
  </div>
</div>
<div class="row make-center">
  <div class="col-md-12">
    <button class="btn btn-primary" (click)="onPrint()">Print</button>
  </div>
</div>
