@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
.row {
  border-bottom: 1px solid #333333;
}
.new-header {
  background-color: #414143;
  height: 100px;
  color: white;
}
.link {
  cursor: pointer;
}
.company {
  color: #ff49b2;
  font-size: 14px;
}
img {
  margin: 5px 20px;
}
.cart {
  padding-top: 30px;
}
