<div class="row new-header no-print">
  <div class="col-md-1 col-xs-3 link" routerLink="">
    <img src="../../../assets/images/logo.png" width="50" height="50" />
    <h4 class="company">PrintingHouse</h4>
  </div>
  <app-menu-item
    *ngFor="let menuItem of menuItems"
    [name]="menuItem.name"
    [path]="menuItem.path"
    [icon]="menuItem.icon"
  ></app-menu-item>
  <div
    class="col-md-4 col-xs-5 col-md-offset-1"
    *ngIf="currentUser !== undefined"
  >
    <app-user-data></app-user-data>
  </div>
  <div
    [ngClass]="
      currentUser === undefined
        ? 'col-md-2 col-xs-3 col-xs-offset-5 col-md-offset-5 cart'
        : 'col-md-2 col-xs-3 cart'
    "
  >
    <app-cart-counter routerLink="shopping"></app-cart-counter>
  </div>
</div>
