<div class="row">
  <div class="col-md-12">
    <button class="btn btn-danger back" [routerLink]="['../../']">Back</button>
  </div>
</div>
<div class="row cat-title">
  <div class="col-md-12">
    <h1>{{ category.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-push-2 bill">
    <h4 class="note">Make a new sell for the following items</h4>
    <h2>{{ item.name }}</h2>
    <h4 class="available">
      Available amount: <span class="amount">{{ item.quantity }}</span>
    </h4>
    <h3 class="original">
      Original price / item: <span class="price">{{ item.price }}</span>
    </h3>
    <form class="bill-form" #billForm="ngForm">
      <div class="row">
        <div class="col-md-4"><h4>Quantity:</h4></div>
        <div class="col-md-8">
          <input
            type="number"
            name="quantity"
            class="form-control"
            placeholder="Quantity"
            [(ngModel)]="quantity"
            required
          />
        </div>
      </div>
      <div class="row" *ngIf="quantity <= 0">
        <div class="col-md-8 col-md-push-4">
          <h4 class="error">Quantity can not be less than (1).</h4>
          {{ checkIfQuantityZeroOrLess() }}
        </div>
      </div>
      <div class="row" *ngIf="quantity > item.quantity">
        <div class="col-md-8 col-md-push-4">
          <h4 class="error">
            You have only {{ item.quantity }} items available
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"><h4>Discount (%):</h4></div>
        <div class="col-md-8">
          <input
            type="number"
            name="discount"
            class="form-control"
            placeholder="Discount by %"
            [(ngModel)]="discount"
            [disabled]="!openDiscount && userType === 'user'"
            required
          />
        </div>
      </div>
      <div class="row" *ngIf="discount < 0">
        <div class="col-md-8 col-md-push-4">
          <h4 class="error">Discount can not be less than zero.</h4>
          {{ checkIfDiscountLessZero() }}
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-4"><h4>Client name:</h4></div>
        <div class="col-md-8">
          <input
            type="text"
            name="name"
            class="form-control"
            placeholder="Client name"
            ngModel
            required
          />
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-md-4"><h4>Phone:</h4></div>
        <div class="col-md-8">
          <input
            type="text"
            name="phone"
            class="form-control"
            placeholder="Client phone number."
            ngModel
            required
          />
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-md-4"><h4>Notes (optional):</h4></div>
        <div class="col-md-8">
          <input
            type="text"
            name="notes"
            class="form-control"
            placeholder="Add some notes (optional)"
            ngModel
          />
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-12">
          <h3 class="final-price">
            Final price: <span class="price">{{ calculateFinalPrice() }}</span>
          </h3>
          <p class="note">
            Client name and Phone are not required if you want to add it to CART
          </p>
        </div>
      </div>
      <!-- <button
        class="btn btn-danger confirm-button"
        type="submit"
        [disabled]="
          billForm.invalid ||
          quantity <= 0 ||
          discount < 0 ||
          quantity > item.quantity ||
          submitted
        "
      >
        Confirm
      </button> -->
      <button
        class="btn btn-success confirm-button"
        type="button"
        [disabled]="quantity <= 0 || discount < 0 || quantity > item.quantity"
        (click)="onAddToCart()"
      >
        Add to Cart <span class="glyphicon glyphicon-shopping-cart"></span>
      </button>
      <div class="row" *ngIf="addedToCart">
        <div class="col-md-12">
          <div class="alert alert-success">
            <h4>Items added to Shopping Cart!</h4>
          </div>
        </div>
      </div>
      <!-- <div class="row" *ngIf="submitted">
        <div class="col-md-12">
          <div
            class="alert alert-danger"
            *ngIf="submitted && !billStatus && billStatus !== undefined"
          >
            <h4>Error happened, Try again!</h4>
          </div>
          <div class="alert alert-success" *ngIf="submitted && billStatus">
            <h4>Bill added successfully!</h4>
          </div>
          <div class="alert alert-warning" *ngIf="submitted && inProgress">
            <h4>Please wait...</h4>
          </div>
        </div>
      </div> -->
    </form>
  </div>
</div>
