<div class="row">
  <div class="col-md-12">
    <h2 class="title">Add new item</h2>
  </div>
</div>
<div class="row" *ngIf="categories === undefined">
  <div class="col-md-12">
    <div class="alert alert-warning">
      <h4>Loading our data, please wait...</h4>
    </div>
  </div>
</div>
<div class="row" *ngIf="categories !== undefined && categories.length === 0">
  <div class="col-md-12">
    <h3 class="red-message">
      Select a company first from the form below if you already have some
      categories in your company, Or please add a category first!
    </h3>
  </div>
</div>
<div class="row" *ngIf="companies !== undefined && companies.length === 0">
  <div class="col-md-12">
    <h3 class="red-message">You don't have any company, please add one!</h3>
  </div>
</div>
<div class="row" *ngIf="companies !== undefined && companies.length > 0">
  <div class="col-md-12">
    <form (ngSubmit)="onSubmit()" #addForm="ngForm">
      <div class="row">
        <div class="col-md-2"><h4>Category:</h4></div>
        <div class="col-md-10">
          <select name="catId" class="form-control" ngModel required>
            <option value="" selected>
              Choose category after select a company
            </option>
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"><h4>Item name:</h4></div>
        <div class="col-md-10">
          <input
            type="text"
            class="form-control"
            name="name"
            placeholder="Name"
            ngModel
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"><h4>Cost:</h4></div>
        <div class="col-md-10">
          <input
            type="number"
            class="form-control"
            name="cost"
            placeholder="Item cost"
            ngModel
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"><h4>Sell Price:</h4></div>
        <div class="col-md-10">
          <input
            type="number"
            class="form-control"
            name="price"
            placeholder="Sell Price"
            ngModel
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"><h4>Quantity:</h4></div>
        <div class="col-md-10">
          <input
            type="number"
            class="form-control"
            name="quantity"
            placeholder="Quantity"
            ngModel
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"><h4>Company:</h4></div>
        <div class="col-md-10">
          <select
            class="form-control"
            name="companyId"
            [(ngModel)]="companyId"
            (change)="onCompChange()"
            required
          >
            <option value="" selected>Select company</option>
            <option value="{{ company.id }}" *ngFor="let company of companies">
              {{ company.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"><h4>Image (Optional):</h4></div>
        <div class="col-md-10">
          <input type="file" class="form-control" name="image" ngModel />
        </div>
      </div>
      <div class="row make-center add-margin">
        <div class="col-md-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="addForm.invalid"
          >
            Save Item
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" *ngIf="inProgress && submitted">
          <div class="alert alert-warning">
            <h4>Please wait...</h4>
          </div>
        </div>
        <div class="col-md-12" *ngIf="addStatus && submitted">
          <div class="alert alert-success">
            <h4>Item added successfully!</h4>
          </div>
        </div>
        <div
          class="col-md-12"
          *ngIf="addStatus !== undefined && submitted && !addStatus"
        >
          <div class="alert alert-danger">
            <h4>Error happened, please try again!</h4>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
