.title {
  color: #585858;
}
.info {
  font-style: italic;
  font-size: 14px;
  color: #09f;
}
.success {
  font-style: italic;
  color: green;
}
.error {
  font-style: italic;
  color: red;
}
.form-control {
  margin: 10px 0;
}
