.make-center {
  text-align: center;
}
.category {
  background-color: wheat;
  cursor: pointer;
  border-radius: 7px;
  min-height: 150px;
  border: 3px solid #ffa399;
}
.category:hover {
  background-color: bisque;
}
