.row {
  text-align: center;
  padding: 5px;
}
.user-row-dark {
  background-color: #cccccc;
}
.user-row-light {
  background-color: #f0f0f0;
}
.user-type-admin {
  color: red;
  font-style: italic;
  font-weight: bold;
}
.user-type-user {
  color: #0082d8;
  font-style: italic;
  font-weight: bold;
}
