<div class="row bill-row">
  <div class="col-md-1 col-xs-1 column">S.N</div>
  <div class="col-md-2 col-xs-2 column">Date</div>
  <div class="col-md-5 col-xs-5">
    <div class="row">
      <div class="col-md-3 col-xs-3 column">Name</div>
      <div class="col-md-2 col-xs-2 column">Price</div>
      <div class="col-md-2 col-xs-2 column">Quantity</div>
      <div class="col-md-2 col-xs-2 column">Cost</div>
      <div class="col-md-3 col-xs-3 column">Total Price</div>
    </div>
  </div>
  <div class="col-md-1 col-xs-1 column">Final Price</div>
  <div class="col-md-1 col-xs-1 column" *ngIf="currentUserType === 'admin'">
    Total Cost
  </div>
  <div class="col-md-1 col-xs-1 column" *ngIf="currentUserType === 'admin'">
    Income
  </div>
  <div class="col-md-1 col-xs-1 column">Action</div>
</div>
