@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
h4,
h3,
h2,
h1 {
  margin: 10px;
  padding: 0;
}
.header {
  text-align: center;
  background-color: #333 !important;
  color: #fff !important;
}
.title {
  padding: 10px;
  border: 1px solid #ccc;
  color: #fff !important;
}
.total {
  background-color: #808080 !important;
  text-align: center;
  font-weight: bold;
  color: #ffb774 !important;
}
.bill {
  padding: 25px 0;
  background-color: #e6e7e9;
}
.content {
  background-color: white;
  border: 1px dashed #666;
  padding: 30px;
}
.tagline {
  font-style: italic;
  font-size: 14px;
  color: #666 !important;
  font-weight: bold;
}
.invoice {
  text-align: right;
  padding: 30px 10px;
}
text-right {
  text-align: right;
}
.make-red {
  color: red !important;
}
.make-grey {
  color: #666 !important;
}
.client {
  color: #666 !important;
}
.name {
  font-weight: bold;
  font-size: 18px;
}
.address {
  font-size: 14px;
}
.phone {
  font-size: 14px;
}
.shopping {
  font-style: italic;
  color: #333 !important;
}
.company {
  color: #808080 !important;
}
.signature {
  font-style: italic;
  background-color: #ccc !important;
  color: #333 !important;
  padding: 5px;
}
.print-button-row {
  text-align: center;
  background-color: #e6e7e9;
  padding: 25px 0;
}
