<div class="row bill">
  <div class="col-md-8 col-xs-12 col-md-offset-2 content">
    <div class="row">
      <div class="col-md-8 col-xs-8">
        <img
          src="../../../assets/images/big-logo.png"
          width="150"
          height="150"
        />
        <h4 class="tagline">The Best Quality</h4>
      </div>
      <div class="col-md-4 col-xs-4 invoice">
        <h1>INVOICE</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-4 client">
        <h3 class="name">{{ client.name }}</h3>
        <h4 class="address">{{ client.address }}</h4>
        <h4 class="phone">{{ client.phone }}</h4>
      </div>
      <div class="col-md-4 col-xs-4 col-md-offset-4 col-xs-offset-4 text-right">
        <h3>
          Invoice # <span class="make-red">{{ bill.serial }}</span>
        </h3>
        <h4>
          Date: <span class="make-grey">{{ bill.date }}</span>
        </h4>
      </div>
    </div>
    <div class="row header">
      <div class="col-md-3 col-xs-3 title">Item Description</div>
      <div class="col-md-3 col-xs-3 title">Quantity</div>
      <div class="col-md-3 col-xs-3 title">Price</div>
      <div class="col-md-3 col-xs-3 title">Total</div>
    </div>
    <app-cart-item
      *ngFor="let item of bill.cart"
      [cartItem]="item"
    ></app-cart-item>
    <div class="row total">
      <div class="col-md-9 col-xs-9 title">
        Total After Discount ( {{ bill.discount }} % )
      </div>
      <div class="col-md-3 col-xs-3 title">{{ bill.finalTotal }}</div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="shopping">Thank you for shopping with us!</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-xs-8">
        <p class="company">
          Printing House: Doha, Qatar - Phone ( +974 66548110 )
        </p>
      </div>
      <div class="col-md-4 col-xs-4">
        <p class="signature">Signature: ----------------------</p>
      </div>
    </div>
  </div>
</div>
<div class="row print-button-row no-print">
  <div class="col-md-12">
    <button class="btn btn-primary" (click)="onPrint()">Print Bill</button>
  </div>
</div>
