<div class="container-fluid make-border">
  <div class="row">
    <div class="col-md-12 make-center">
      <img
        src="../assets/images/basem-logo.png"
        alt="Logo"
        class="logo"
        height="300"
        [routerLink]="['']"
      />
      <h1>
        Cashier System - V 1.0 <span class="under">Under Construction</span>
      </h1>
    </div>
  </div>

  <div class="row make-center">
    <div class="col-md-12" *ngIf="!userLoggedIn">
      <app-sign-in-form></app-sign-in-form>
      <!-- <h1>Here will be the LOGIN FORM</h1>
      <h4>Login as an ADMIN is Totaly different than as USER</h4>
      <p style="font-style: italic; color: #09f">
        But we will consider that we logged in as an ADMIN for development
        purposes!
      </p> -->
    </div>
    <div class="col-md-12" *ngIf="userLoggedIn">
      <h3>
        Name: {{ user.name }} -
        <span class="user-type"
          >({{ user.userType === "admin" ? "Admin" : "User" }}) at
          <span class="company-name">
            {{ company ? company.name : "OUR" }}
          </span>
          company</span
        >
      </h3>
      <button class="btn btn-danger" (click)="onSignOut()">Sign-Out</button> |
      <button class="btn btn-success" (click)="onSignOut()">
        Change Password
      </button>
    </div>
  </div>

  <div class="row main-row" *ngIf="userLoggedIn">
    <div class="col-md-10 content">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-2 menu make-center">
      <div class="row" *ngIf="userType === 'admin'">
        <div class="col-md-12">
          <!-- Cart Items -->
          <app-cart-counter></app-cart-counter>
          <!-- End cart -->
          <!-- Start of the Admin area -->
          <div class="row">
            <div class="col-md-12">
              <h3 class="menu-title">Admin Area</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button
                class="btn btn-danger full-btn"
                [routerLink]="['add-company']"
              >
                Add Company
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button
                class="btn btn-danger full-btn"
                [routerLink]="['add-category']"
              >
                Add Category
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button
                class="btn btn-danger full-btn"
                [routerLink]="['add-item']"
              >
                Add Item
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-danger full-btn" disabled>
                Add Service
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-danger full-btn" disabled>Store</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button
                class="btn btn-danger full-btn"
                [routerLink]="['mybills']"
              >
                My Bills
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button
                class="btn btn-danger full-btn"
                [routerLink]="['financials']"
                disabled
              >
                Financials
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-danger full-btn" disabled>
                My Clients
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-danger full-btn" [routerLink]="['signUp']">
                Add User
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button
                class="btn btn-danger full-btn"
                [routerLink]="['permissions']"
              >
                Permissions
              </button>
            </div>
          </div>
          <!-- End of Admin area -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <!-- Start of the User area -->
          <div class="row">
            <div class="col-md-12">
              <h3 class="menu-title">User Area</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button
                class="btn btn-primary full-btn"
                [routerLink]="['new-sell']"
              >
                New Sell
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary full-btn" disabled>
                Menu-item
              </button>
            </div>
          </div>
          <!-- End of User area -->
        </div>
      </div>
    </div>
  </div>
</div>
