.main-colors {
  background-color: #414143;
  background-color: #58595b;
  background-color: #e6e7e9;
  background-color: #7dc442;
  background-color: #e6e7e9;
  color: #303032;
}

/* Here is the new styles */
.row {
  border-bottom: 1px solid #333333;
}

.new-sub-menu {
  background-color: #58595b;
  height: 200px;
}

.new-content {
  background-color: #e6e7e9;
  height: 500px;
}

/* Here is the old style */
.container {
  padding: 0;
}
.logo {
  margin: 0 auto;
  cursor: pointer;
}
.under {
  font-size: 18px;
  font-weight: bold;
  color: red;
  font-style: italic;
}
.make-center {
  text-align: center;
}
.make-border {
  border: 1px dashed #333;
}
.content {
  background-color: salmon;
  min-height: 1000px;
}
.menu {
  background-color: sandybrown;
  min-height: 1000px;
}
.main-row {
  border-top: 1px dashed #333;
  border-bottom: 1px dashed #333;
  margin: 0;
  padding: 20px 0;
}
.full-btn {
  width: 100%;
  margin: 5px 0;
}
.menu-title {
  border-bottom: 1px dashed #333;
  padding-bottom: 10px;
}
/* .row {
  margin: 20px 0px;
} */
.user-type {
  font-size: 16px;
  font-style: italic;
  color: red;
}
.company-name {
  color: #09f;
}
