.main-colors {
  background-color: #414143;
  background-color: #6a6c6e;
  background-color: #e6e7e9;
  background-color: #7dc442;
  background-color: #e6e7e9;
  color: #303032;
}

/* Here is the new styles */
