.container {
  padding: 0;
}
.logo {
  margin: 0 auto;
  cursor: pointer;
}
.under {
  font-size: 18px;
  font-weight: bold;
  color: red;
  font-style: italic;
}
.make-center {
  text-align: center;
}
.make-border {
  border: 1px dashed #333;
}
.content {
  background-color: salmon;
  min-height: 1000px;
}
.menu {
  background-color: sandybrown;
  min-height: 1000px;
}
.main-row {
  border-top: 1px dashed #333;
  border-bottom: 1px dashed #333;
  margin: 0;
  padding: 20px 0;
}
.full-btn {
  width: 100%;
  margin: 5px 0;
}
.menu-title {
  border-bottom: 1px dashed #333;
  padding-bottom: 10px;
}
