<div class="container make-border">
  <div class="row make-center">
    <div class="col-md-12">
      <h1>
        Cashier System - V 1.0 <span class="under">Under Construction</span>
      </h1>
    </div>
  </div>
  <div class="row make-center">
    <div class="col-md-12">
      <h1>Here will be the LOGIN FORM</h1>
      <h4>Login as an ADMIN is Totaly different than as USER</h4>
      <p style="font-style: italic; color: #09f">
        But we will consider that we logged in as an ADMIN for development
        purposes!
      </p>
    </div>
  </div>
  <div class="row main-row">
    <div class="col-md-10 content">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-2 menu make-center">
      <div class="row" *ngIf="userType === 'admin'">
        <div class="col-md-12">
          <!-- Start of the Admin area -->
          <div class="row">
            <div class="col-md-12">
              <h3 class="menu-title">Admin Area</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button
                class="btn btn-danger full-btn"
                [routerLink]="['add-category']"
              >
                Add Category
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button
                class="btn btn-danger full-btn"
                [routerLink]="['add-item']"
              >
                Add Item
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-danger full-btn">Add Service</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-danger full-btn">Store</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-danger full-btn">Reports</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-danger full-btn">Add User</button>
            </div>
          </div>
          <!-- End of Admin area -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <!-- Start of the User area -->
          <div class="row">
            <div class="col-md-12">
              <h3 class="menu-title">User Area</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button
                class="btn btn-primary full-btn"
                [routerLink]="['new-sell']"
              >
                New Sell
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary full-btn">Menu-item</button>
            </div>
          </div>
          <!-- End of User area -->
        </div>
      </div>
    </div>
  </div>
</div>
