.bill {
  background-color: wheat;
  margin-bottom: 30px;
}
.full-btn {
  width: 100%;
  background-color: #525252;
  color: yellow;
}
.no-padding {
  padding: 0;
}
.header {
  background-color: #666;
  color: white;
}
.items {
  border-bottom: 1px dashed #333;
  background-color: #ccc;
}
.make-center {
  text-align: center;
}
.total-title {
  background-color: #ffc966;
}
.total {
  background-color: yellowgreen;
}
.last-row {
  padding-bottom: 10px;
  background-color: white;
}
