table {
  margin-top: 40px;
}
tr,
th,
td {
  text-align: center;
  padding: 10px;
}
.add-border {
  border: 1px solid white;
}
.title {
  text-align: center;
  color: #fbff00;
  margin-top: 40px;
}
.final-price {
  background-color: #0064a7;
  color: white;
  font-weight: bold;
}
.total-cost {
  background-color: #900;
  color: white;
  font-weight: bold;
}
.total-income {
  background-color: green;
  color: white;
  font-weight: bold;
}
.tot-fin {
  font-weight: bold;
  color: #0064a7;
  background-color: #dadada;
}
.tot-cos {
  font-weight: bold;
  color: #900;
  background-color: #dadada;
}
.tot-inc {
  font-weight: bold;
  color: green;
  background-color: #dadada;
}
