<div
  class="row"
  *ngIf="allBills !== undefined && allBills.length === 0 && showError"
>
  <div class="col-md-12">
    <div class="alert alert-danger">
      <h3>No bills found in the system, please wait...</h3>
    </div>
  </div>
</div>
<div class="row" *ngIf="allBills !== undefined && allBills.length > 0">
  <div class="col-md-12">
    <table class="table table-bordered">
      <tr class="add-border">
        <th class="add-border">S.N</th>
        <th class="add-border">Date</th>
        <th class="add-border">Item</th>
        <th class="add-border">Price</th>
        <th class="add-border">Quantity</th>
        <th class="add-border">Discount %</th>
        <th class="add-border">Final Price</th>
        <th class="add-border">Client name</th>
        <th class="add-border">Notes</th>
        <th class="add-border">Action</th>
      </tr>
      <tr class="add-border" *ngFor="let bill of allBills">
        {{
          getItem(bill.itemId)
        }}
        {{
          getClient(bill.clientId)
        }}
        <td class="add-border">{{ bill.serial }}</td>
        <td class="add-border">{{ bill.date }}</td>
        <td class="add-border">{{ currentItem.name }}</td>
        <td class="add-border">{{ currentItem.price }}</td>
        <td class="add-border">{{ bill.quantity }}</td>
        <td class="add-border">{{ bill.discount }}</td>
        <td class="add-border final-price">{{ bill.finalPrice }}</td>
        <td class="add-border">{{ currentClient.name }}</td>
        <td class="add-border">{{ bill.notes }}</td>
        <td class="add-border">
          <button class="btn btn-default" [routerLink]="['../bill', bill.id]">
            Print
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
