<form (ngSubmit)="onSubmit()" #passForm="ngForm" class="form-inline">
  <input
    *ngIf="changedSuccess === undefined"
    type="password"
    name="password"
    class="form-control"
    placeholder="New Password"
    ngModel
    required
  />
  <button
    *ngIf="changedSuccess === undefined"
    class="btn btn-success"
    type="submit"
    [disabled]="passForm.invalid"
  >
    Update
  </button>
  <p class="success" *ngIf="changedSuccess !== undefined && changedSuccess">
    Password changed!
  </p>
  <p class="error" *ngIf="changedSuccess !== undefined && !changedSuccess">
    Error happened!
  </p>
</form>
