<div class="row">
  <div class="col-md-12 item">
    <div class="row" [routerLink]="['sell', item.id]">
      <div class="col-md-12">
        <h3>{{ item.name }}</h3>
        <h4>
          Price: <span class="price">{{ item.price }}</span>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button
          class="btn btn-default"
          *ngIf="userType === 'admin'"
          (click)="onShowDetails()"
        >
          Show details
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Here is the details that shows only for the admin -->
<div class="row details" *ngIf="showDetails && userType === 'admin'">
  <div class="col-md-12">
    <h4 class="note">Some options will be available to admin only</h4>
    <!-- Show current Quantity -->
    <div class="row">
      <div class="col-md-6"><h4>Quantity:</h4></div>
      <div class="col-md-6">
        <h4>
          <span class="data">{{ item.quantity }}</span>
        </h4>
      </div>
    </div>
    <!-- End of current quantity -->

    <!-- form to add more quantity -->
    <div class="row">
      <div class="col-md-12">
        <form (ngSubmit)="onSubmit()" #addForm="ngForm">
          <div class="row">
            <div class="col-md-7">
              <input
                type="number"
                name="quantity"
                class="form-control"
                placeholder="Add Quantity"
                ngModel
                required
              />
            </div>
            <div class="col-md-5">
              <button
                class="btn btn-success"
                type="submit"
                [disabled]="addForm.invalid"
              >
                Add
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- End of form -->

    <!-- form to change price -->
    <div class="row price-row">
      <div class="col-md-12">
        <form (ngSubmit)="onSubmitPrice()" #priceForm="ngForm">
          <div class="row">
            <div class="col-md-7">
              <input
                type="number"
                name="price"
                class="form-control"
                placeholder="New price"
                ngModel
                required
              />
            </div>
            <div class="col-md-5">
              <button
                class="btn btn-success"
                type="submit"
                [disabled]="priceForm.invalid"
              >
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- End of form -->
  </div>
</div>
<!-- End of the details section -->
