.item {
  background-color: white;
  border: 1px #666 solid;
  border-radius: 5px;
  text-align: center;
  margin: 0 5px;
  cursor: pointer;
  padding: 10px 0;
}
.item:hover {
  background-color: #d3d3d3;
}
.name {
  color: #ff7300;
}
.price {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin: 0;
}
.price span {
  color: #009100;
  font-size: 22px;
}
p {
  font-style: italic;
  margin: 5px 0;
}
p span {
  color: red;
  font-weight: bold;
  font-style: normal;
}
