<div class="row">
  <div class="col-md-12">
    <h1>Add User</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="onSubmit()" #signUpForm="ngForm">
      <div class="row">
        <div class="col-md-2">
          <h4>Username:</h4>
        </div>
        <div class="col-md-10">
          <input type="text" class="form-control" placeholder="Username" name="username" ngModel required/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h4>Password:</h4>
        </div>
        <div class="col-md-10">
          <input type="password" class="form-control" placeholder="Password" name="password" ngModel required/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h4>Name:</h4>
        </div>
        <div class="col-md-10">
          <input type="text" class="form-control" placeholder="Name" name="name" ngModel required/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h4>User type:</h4>
        </div>
        <div class="col-md-10">
          <select name="userType" class="form-control" ngModel required>
            <option value="">Please choose</option>
            <option value="user">User</option>
            <option value="admin">Admin</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="signUpForm.invalid">Save user</button>
    </form>
  </div>
</div>
