<div class="col-md-2 sign-form">
  <form (ngSubmit)="onSubmit()" #signInForm="ngForm">
    <div class="row">
      <div class="col-md-5 small-padding">
        <input
          class="form-control"
          type="text"
          placeholder="Username"
          name="username"
          ngModel
          required
        />
      </div>
      <div class="col-md-5 small-padding">
        <input
          class="form-control"
          type="password"
          placeholder="Password"
          name="password"
          ngModel
          required
        />
      </div>
      <div class="col-md-2 small-padding">
        <button
          type="submit"
          class="btn btn-default"
          [disabled]="signInForm.invalid"
        >
          Sign-in
        </button>
      </div>
    </div>
    <div class="row" *ngIf="notAllowed">
      <div class="col-md-12">
        <p class="error">Username and Password are not correct!</p>
      </div>
    </div>
  </form>
</div>
