<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="onSubmit()" #signInForm="ngForm">
      <div class="row">
        <div class="col-md-2">
          <h4>Username:</h4>
        </div>
        <div class="col-md-10">
          <input
            class="form-control"
            type="text"
            placeholder="Username"
            name="username"
            ngModel
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h4>Password:</h4>
        </div>
        <div class="col-md-10">
          <input
            class="form-control"
            type="password"
            placeholder="Password"
            name="password"
            ngModel
            required
          />
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="signInForm.invalid"
      >
        Sign-in
      </button>
    </form>
    <div class="alert alert-danger" *ngIf="notAllowed">
      <h4>Username and Password are not correct!</h4>
    </div>
  </div>
</div>
